<server description="Sample Liberty server">

  <featureManager>
      <feature>jaxrs-2.0</feature>
      <feature>jsonp-1.0</feature>
      <feature>jndi-1.0</feature>
      <feature>cdi-1.2</feature>
      <feature>logstashCollector-1.0</feature>
  </featureManager>

  <logstashCollector 
	source="message,trace,garbageCollection,ffdc,accessLog">

    <tag>demoapp</tag>
  </logstashCollector>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />



</server>
